{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app_integrador/css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>
    <header>
        <h1>Administración de libros</h1>
        <h2>{% block section_title %} {% endblock %}</h2>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'libros_listado' %}">Listar libros</a></li>
                <li><a href="{% url 'libro_crear' %}">Crear un libro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block mainContent %}
        {% endblock %}
    </main>
    <footer>
        FOOTER
    </footer>

</body>

</html>