*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #d6d6d6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

header, main, padding{
    padding: 10px;
}

header, footer{
    display: flex;
    background-color: #262525;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav ul li{
    text-align: center;
    padding: 10px;
}

nav ul li a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: #228d29 1px solid;
    border-radius: 10px;
    color:antiquewhite;
    transition: all 0.4s ease-in-out;
    font-size: 1rem;
    font-weight: bold;
}

nav ul li a:hover{
    background-color:  #228d29;
    border: white 1px solid;
    transform: scale(1.1); 
}



h1 a{
    color: antiquewhite;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
}

h1 span{
    color: #228d29;
}

footer{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1 a{
    font-size: 1rem;
}