
section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 40px;
}

article{
    display: flex;
}


.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 20px;
    background-color: #ffff;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.3);
    
}

.contenido:hover{
transform: scale(1.1);
box-shadow: 0px 2px 7px 1px rgba(124, 11, 11, 0.6);
cursor: pointer;
}

h3{
    margin-bottom: 15px;
    font-weight: bold;
}
p{
    margin-bottom: 10px;
    font-size: 0.8rem;
    font-weight: bold;
}

.precio{
    color: red;
}

.acciones{
    margin-top: 15px;
    
}
.acciones a{
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    color:#228d29;
    border: #228d29 1px solid;

}

.acciones a:hover{
    color: red;
    transform: scale(1.1); 

}