
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.3);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.container h3 {
    text-align: center;
}

form input {
    margin-bottom: 5px;
}

form input[type="submit"] {
    background-color: #228d29;
    color: white;
    cursor: pointer;
    width: 60px;
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;

}

form input[type="submit"]:hover{
    transform: scale(1.1); 
}

form p{
    display: flex;
    flex-direction: column;
}

